[run]
source = colour
concurrency = multiprocessing
sigterm = True
[report]
exclude_lines =
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    if typing.TYPE_CHECKING:
    pass
    pragma: no cover
