*.egg-info
*.pyc
*.pyo
.DS_Store
.coverage
.idea
__pycache__
build
dist
docs/_build
docs/_static/Basics_*.png
docs/_static/Examples_*.png
docs/_static/Plotting_*.png
docs/_static/Tutorial_*.png
docs/generated
poetry.lock
references

.vscode/
