include COPYING
include LICENSE
include *.bib
include *.rst
graft colour/appearance/tests/fixtures
graft colour/examples
graft colour/io
graft colour/plotting
graft docs/_build
graft utilities
global-exclude *.pyc
global-exclude *.pyo
global-exclude ._*
global-exclude .DS_Store
