alabaster==0.7.12
appnope==0.1.2
argon2-cffi==21.1.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
biblib-simple==0.1.1
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.7
colorama==0.4.4
coverage==6.1.1
coveralls==3.3.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
docopt==0.6.2
docutils==0.17.1
entrypoints==0.3
filelock==3.3.2
flake8==3.9.2
identify==2.3.4
idna==3.3
imageio==2.10.3
imagesize==1.2.0
importlib-metadata==4.8.1
importlib-resources==5.4.0
iniconfig==1.1.1
invoke==1.6.0
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
joblib==1.1.0
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keyring==23.2.1
kiwisolver==1.3.2
latexcodec==2.0.1
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mock==4.0.3
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nodeenv==1.6.0
nose==1.3.7
notebook==6.4.5
numpy==1.21.1
opencolorio==2.1.0
packaging==21.2
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==21.1.1
pkginfo==1.7.1
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
ptyprocess==0.7.0
py==1.11.0
pybtex==0.24.0
pybtex-docutils==1.0.1
pycodestyle==2.7.0
pycparser==2.21
pyflakes==2.3.1
Pygments==2.10.0
pygraphviz==1.7
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.2
rfc3986==1.5.0
scikit-learn==1.0.1
scipy==1.6.1
Send2Trash==1.8.0
setuptools==56.2.0
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.4.1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
trimesh==3.9.35
twine==3.5.0
urllib3==1.26.7
virtualenv==20.10.0
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
widgetsnbextension==3.5.2
yapf==0.23.0
zipp==3.6.0
