alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
biblib-simple==0.1.1
bleach==3.2.1
certifi==2020.11.8
cffi==1.14.4
cfgv==3.0.0
chardet==3.0.4
colorama==0.4.4
coverage==5.3
coveralls==2.2.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docopt==0.6.2
docutils==0.16
entrypoints==0.3
filelock==3.0.12
flake8==3.8.4
identify==1.5.10
idna==2.10
imageio==2.9.0
imagesize==1.2.0
iniconfig==1.1.1
invoke==1.4.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
keyring==21.5.0
kiwisolver==1.3.1
latexcodec==2.0.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mock==4.0.2
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.5
nodeenv==1.5.0
nose==1.3.7
notebook==6.1.5
numpy==1.19.4
oset==0.1.3
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pkginfo==1.6.1
pluggy==0.13.1
pre-commit==2.1.1
prometheus-client==0.9.0
prompt-toolkit==3.0.3
ptyprocess==0.6.0
py==1.9.0
pybtex==0.23.0
pybtex-docutils==0.2.2
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.2
pygraphviz==1.6
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
readme-renderer==28.0
requests==2.25.0
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.2
rfc3986==1.4.0
scipy==1.5.4
Send2Trash==1.5.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado==6.1
tqdm==4.53.0
traitlets==4.3.3
twine==3.2.0
urllib3==1.26.2
virtualenv==20.2.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
yapf==0.23.0
