alabaster==0.7.12
aspy.yaml==1.3.0
atomicwrites==1.3.0
attrs==19.2.0
Babel==2.7.0
backports.functools-lru-cache==1.5
biblib-simple==0.1.1
bleach==3.1.0
certifi==2019.9.11
cfgv==2.0.1
chardet==3.0.4
colour-demosaicing==0.1.4
coverage==4.5.4
coveralls==1.8.2
cycler==0.10.0
decorator==4.4.0
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
flake8==3.7.8
identify==1.4.7
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.23
invoke==1.3.0
Jinja2==2.10.3
kiwisolver==1.1.0
latexcodec==1.0.7
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mock==3.0.5
more-itertools==7.2.0
networkx==2.3
nodeenv==1.3.3
nose==1.3.7
numpy==1.17.2
oset==0.1.3
packaging==19.2
pandas==0.24.2
Pillow==6.2.0
pkginfo==1.5.0.1
pluggy==0.13.0
pre-commit==1.18.3
py==1.8.0
pybtex==0.22.2
pybtex-docutils==0.2.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pygraphviz==1.5
pyparsing==2.4.2
pytest==5.2.1
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.0
scipy==1.3.1
six==1.12.0
snowballstemmer==2.0.0
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
tqdm==4.36.1
twine==1.15.0
urllib3==1.25.6
virtualenv==16.7.5
wcwidth==0.1.7
webencodings==0.5.1
yapf==0.23.0
zipp==0.6.0
