p {
    margin-bottom: 8px !important;
}

table.docutils {
    width: 100% !important;
}

table.longtable.docutils td {
    background-color: rgb(252, 252, 252) !important;
    border: 0 !important;
    padding: 4px 4px 4px 0px !important;
    vertical-align: top !important;
    white-space: normal !important;
}

table.longtable.docutils {
    border: 0 !important;
}

div.highlight-text {
    background-color: rgb(252, 252, 252) !important;
    border: 0 !important;
    font-family: monospace;
    margin: -24px 0 24px 0;
}